

body{
    background-color: pink;
}

p{
    margin: 3px;
    padding: 0;
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    Width: 300px;
    background-color: lightskyblue;
    border: 2px solid;
}

.projectArea{
    display: flex;
    min-height: 400px;
    justify-content: space-evenly;
    border: solid red 2px;
    display: flex;
    flex-wrap: wrap;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonDialogDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.addTodoButton{
    color: orange;
    background-color: green;
    width: 100%;
    margin-bottom: 5px;
}

.deleteProjectButton{
    color: orange;
    background-color: red;
}

.todoForm{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: auto;
    text-align: left;
}

#addTodoDialog{
    width: 500px;
}

.addprojectArea{
    display: flex;
    align-items: center;
    justify-content: center;
}

.insideProjectTodo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 300px;
    font-size: small;
}

.todoArea{
    display: flex;
    flex-direction: column;
    height: 300px;   
}

.todoDescription{
    margin: 0;

}

.priority-low {
    background-color: #d1fae5; /* light green */
    border-left: 4px solid #10b981;
}

.priority-medium {
    background-color: #fef3c7; /* light yellow */
    border-left: 4px solid #f59e0b;
}

.priority-high {
    background-color: #fee2e2; /* light red */
    border-left: 4px solid #ef4444;
}

h3{
    margin: 0;
    padding: 0;
}