

body{
    background-color: pink;
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project{
    display: flex;
    flex-direction: column;
    align-items: center;
    Width: 400px;
    background-color: lightskyblue;
    border: 2px solid;
}

.projectArea{
    height: 400px;
    border: solid red 2px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

.addTodoButton{
    color: orange;
    background-color: lightcoral;
    background-color: red;
}

.todoForm{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: auto;
    text-align: left;
}

#addTodoDialog{
    width: 500px;
}

.addprojectArea{
    display: flex;
    align-items: center;
    justify-content: center;
}